<form class="col-xs-6 col-md-4 center-me">
	<div class="form-group">
        	<label for="exampleInputName1">Username</label>
        	<input type="text" class="form-control" id="exampleInputName1" ng-model="username" placeholder="Username">
        </div>
        <div class="form-group">
        	<label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" ng-model="password" placeholder="Password">
        </div>
        	<button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
</form>